$brown-color: #6A523D;
$green-color: #7A8D74;

$font-family-lato: "Lato", sans-serif;
$font-family-cabin: "Cabin Sketch", sans-serif;

$left-box-shadow: -5px 0px 6px #00000027;
$header-box-shadow: 0px 3px 6px #00000029;
$box-shadow-hover: 0px 3px 6px 5px #00000029;